In [2]:
import pandas as pd

In [9]:
s1 = pd.Series([10,20,30,40,50])
s_tuple = pd.Series(("apple", "banana", "cherry"))
s_dictionary = {"brand": "Ford", 
                "model": "Mustang", 
                "year": 1964}
car = pd.Series(s_dictionary)
print("The series values are:", s1.values)
print("The index values are:", s1.index.values)
print("\n")
print("The s_tuple series values are:",s_tuple.values)
print("The s_tuple index values are:", s_tuple.index.values)
print("\n")
print("The s_dictionary series values are:", car.values)
print("The s_dictionary series index values are:", car.index.values)

The series values are: [10 20 30 40 50]
The index values are: [0 1 2 3 4]


The s_tuple series values are: ['apple' 'banana' 'cherry']
The s_tuple index values are: [0 1 2]


The s_dictionary series values are: ['Ford' 'Mustang' 1964]
The s_dictionary series index values are: ['brand' 'model' 'year']

In [15]:
s2 = pd.Series([80,93,78,85,97], index = ['English','Science','Social','Tamil','Maths'])
print('Subject', 'Student Marks', "\n",s2)

Subject Student Marks
 English    80
Science    93
Social     78
Tamil      85
Maths      97
dtype: int64

In [17]:
s2[0]

80

In [18]:
s2[1:4]

Science    93
Social     78
Tamil      85
dtype: int64

In [20]:
s2['Tamil']

85

In [23]:
dict_fruits = { 'Orange':80,
          'Apples':210,
          'Bananas':50,
         'Grapes':90,
         'Watermelon':70}

fruits = pd.Series(dict_fruits)
print("Fruits and prices" "\n", fruits)
print("The price per kg of grapes is:", fruits['Grapes'])

Fruits and prices
 Orange         80
Apples        210
Bananas        50
Grapes         90
Watermelon     70
dtype: int64
The price per kg of grapes is: 90

In [25]:
df_marks = pd.DataFrame(s2, columns=['Student1'])
print("The dataframe created from series is: " "\n",df_marks)

The dataframe created from series is:
          Student1
English        80
Science        93
Social         78
Tamil          85
Maths          97

In [27]:
height = pd.Series([5.3, 6.2,5.8,5.0,5.5], index=['Person 1','Person 2','Person 3','Person 4','Person 5'])
weight = pd.Series([65,89,75,60,59], index=['Person 1','Person 2','Person 3','Person 4','Person 5'])
df_person = pd.DataFrame({'height': height, 'weight': weight})
print("The Person table details are:" "\n", df_person)

The Person table details are:
           height  weight
Person 1     5.3      65
Person 2     6.2      89
Person 3     5.8      75
Person 4     5.0      60
Person 5     5.5      59